spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      # Rutas a los microservicios
      # Configuración de discovery locator
      server:
        webflux:
          routes:
            # Auth Service - Rutas públicas
                    - id: auth-service-public
                      uri: lb://auth-service
                      predicates:
                        - Path=/auth/register, /auth/login
                      filters:
                        - RewritePath=/auth/(?<segment>.*), /auth/$\{segment}

                    # Auth Service - Rutas protegidas
                    - id: auth-service-protected
                      uri: lb://auth-service
                      predicates:
                        - Path=/auth/**
                      filters:
                        - Authentication
                        - RewritePath=/auth/(?<segment>.*), /auth/$\{segment}

                    # Transaction Service
                    - id: transaction-service
                      uri: lb://transaction-service
                      predicates:
                        - Path=/transactions/**, /categories/**
                      filters:
                        - Authentication

                    # Budget Service
                    - id: budget-service
                      uri: lb://budget-service
                      predicates:
                        - Path=/budgets/**
                      filters:
                        - Authentication

                    # Report Service
                    - id: report-service
                      uri: lb://report-service
                      predicates:
                        - Path=/reports/**
                      filters:
                        - Authentication
          discovery:
            locator:
              lower-case-service-id: true
              enabled: true

server:
  port: 8080 #Puerto que se asigna


eureka:
  client:
    service-url: #dónde está eureka
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true #se registra en eureka
    fetch-registry: true #Descubre otros servicios
  instance:
    prefer-ip-address: true #Usa IP real

jwt:
  secret: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.KMUFsIDTnFmyG3nMiGM6H9FNFUROf3wh7SmqJp-QV30 # Clave secreta usada para firmar y verificar tokens JWT
  expiration: 86400000 # Tiempo de expiración del token en milisegundos