spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      # Rutas a los microservicios
      # Configuración de discovery locator
      server:
        webflux:
          routes:
                    # Auth Service - Rutas públicas
                    - id: auth-service-public-login
                      uri: lb://auth-service
                      predicates:
                        - Path=/auth/login
                      filters:
                        - RewritePath=/auth/(?<segment>.*), /auth/${segment}

                    - id: auth-service-public-register
                      uri: lb://auth-service
                      predicates:
                        - Path=/auth/register
                      filters:
                        - RewritePath=/auth/(?<segment>.*), /auth/${segment}

                    # Auth Service - Rutas protegidas
                    - id: auth-service-protected
                      uri: lb://auth-service
                      predicates:
                        - Path=/auth/**
                      filters:
                        - Authentication
                        - RewritePath=/auth/(?<segment>.*), /auth/$\{segment}

                    # Transaction Service
                    - id: transaction-service
                      uri: lb://transaction-service
                      predicates:
                        - Path=/transactions/**, /categories/**
                      filters:
                        - Authentication

                    # Budget Service
                    - id: budget-service
                      uri: lb://budget-service
                      predicates:
                        - Path=/budgets/**
                      filters:
                        - Authentication

                    # Report Service
                    - id: report-service
                      uri: lb://report-service
                      predicates:
                        - Path=/reports/**
                      filters:
                        - Authentication
          discovery:
            locator:
              lower-case-service-id: true
              enabled: true


server:
  port: 8080 #Puerto que se asigna


eureka:
  client:
    service-url: #dónde está eureka
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true #se registra en eureka
    fetch-registry: true #Descubre otros servicios
  instance:
    prefer-ip-address: true

jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000 # Tiempo de expiración del token en milisegundos

logging:
  level:
    com.sfp.gateway: DEBUG
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web: DEBUG
---
  spring:
    config:
      activate:
        on-profile: docker

  eureka:
    client:
      service-url:
        defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE}
    instance:
      hostname: api-gateway
      prefer-ip-address: false

  jwt:
    secret: ${JWT_SECRET}